body {
	margin: auto;
	box-sizing: border-box;
}

.title {
	color: white;
	text-align: center;
	font-family: Arial;
	font-size: 350%;
}

@-webkit-keyframes fadeIn { from { margin-top:-50px; opacity: 0; } to { margin-top:0px; opacity: 1;} }
@-moz-keyframes fadeIn { from { margin-top:-50px; opacity: 0;} to { margin-top:0px; opacity: 1;} }
@keyframes fadeIn { from { margin-top:-50px; opacity: 0;} to { margin-top:0px; opacity: 1;} }
 
.fade-in {
	opacity: 0;
	margin-top: -50px;
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	
}

.tab-panel {
	width: 30%;
	margin: auto;
}

.tab-list {
	display: block;
	list-style: none;
}


.tab-list a {
	margin: auto;
	float: left;
	text-align: center;
	text-decoration: none;
	font-family: Arial;
	font-size: 100%;
	
	border-radius: 5px 5px 0px 0px;
	
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	
	width: 44.45%;
	background-color: #4B0082;
	margin-right: 0.5%;
	margin-left: 0.5%;
	color: black;
	display: inline-block;
}

.tab-list a:hover {
	background-color: #8A2BE2;
}

.tab-list li.active a {
	background-color: #8A2BE2;
}

.tab-list:after {
    display: block;
    padding-top: 1.1em;
    content: '';
}

.tab-content {
	margin: auto;
	width: 80%;
	padding: 10px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
    background: #fff;
    border: 1px solid #ccc;
}

.c_active {
	display: block;
}

.c_inactive {
	display: none;
}



